.App {
  --nm: 6px 6px 16px 0 rgba(0, 0, 0, 0.2),
    -6px -6px 16px 0 rgba(255, 255, 255, 1);

  --nm-inset: inset 4px 4px 8px 0 rgba(0, 0, 0, 0.2),
    inset -4px -4px 8px 0 rgba(255, 255, 255, 0.8);
}

input,
button {
  color: #818590;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  padding: 10px 20px;
  border: none;
  border-radius: 40px;
  background-color: var(--bg-color);
  box-shadow: var(--nm);
  transition: box-shadow 0.3s ease-in-out;
}

button:focus,
input:focus {
  outline: none;
}

button:hover {
  box-shadow: var(--nm-inset);
}

.kml-file-picker {
  display: flex;
  padding: 20px;
  color: #818590;
  font-size: 14px;
  font-weight: 600;
  justify-content: center;
}

.coordinates-table {
  display: flex;
  margin-bottom: 20px;
  justify-content: center;
}

.coordinates-table table {
  color: #818590;
  border-collapse: collapse;
  background-color: var(--bg-color);
  box-shadow: var(--nm);
  transition: box-shadow 0.3s ease-in-out;
}

table th {
  border: 1px solid white;
  text-align: left;
  padding: 10px;
  width: 200px;
}

table td {
  border: 1px solid white;
  text-align: left;
  padding: 10px;
  width: 200px;
}

td.no-data {
  text-align: center;
  padding: 10px;
}
